{
  "plugins": [
    "transform-decorators-legacy",
    "transform-class-properties",
    "transform-es2015-block-scoping",
    ["transform-es2015-classes", {"loose": true}],
    "transform-proto-to-assign",
    "transform-es2015-modules-commonjs",
    ["import", { "libraryName":"antd-mobile", "style": "true" }]
  ],
  "presets": [
    "react",
    "es2015",
    "stage-0"
  ]
}
